# Requirements file, statically pinned for now
bandit==1.7.0
black==21.5b2
click>=7.1,<=7.2
colorama==0.4.4
jinja2==2.11.3
mypy==0.812
nox==2020.12.31
openpyxl==3.0.7
pandas==1.2.4
pylama==7.7.1
pytest==6.2.3
pytest-cov==2.11.1
xlrd==2.0.1
yamllint==1.26.1
